.MainLeftColumn,
.MainRightColumn
{
    overflow-y: auto;
    transition: all ease 0.50s; /* to match left side menu */
}

.conversation_active
{
    border: 2px solid #83C3F3;
}
.message_subject,
.conversation_subject
{
    overflow-wrap: anywhere;  /* don't push the column too wide as we don't want horizontal scrolling */
}

.label-read-status > input[type="checkbox"],
.label-flagged-status > input[type="checkbox"]
{
    display: none;
}

.label-read-status,
.label-flagged-status
{
    cursor: pointer;
}

.label-read-status span,
.label-flagged-status span
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.message_read:checked ~ .read-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailReadDkOn.svg");
}

.message_read:not(:checked) ~ .read-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailReadDkOff.svg");
}

.message_unread:checked ~ .read-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailReadDkOff.svg");
}

.message_unread:not(:checked) ~ .read-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailReadDkOn.svg");
}

.message_flagged:checked ~ .flagged-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailFlaggedDkOn.svg");
}

.message_flagged:not(:checked) ~ .flagged-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailFlaggedDkOff.svg");
}

.message_unflagged:checked ~ .flagged-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailFlaggedDkOff.svg");
}

.message_unflagged:not(:checked) ~ .flagged-status-icon {
    background-image: url("chrome-extension://__MSG_@@extension_id__/v2/Skins/EmailFlaggedDkOn.svg");
}

/* this should be similar to MultiItem_Item */
.SA .conversation_card .SA_tags div {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #bbb;
    background: #f0f0f0;
    padding: 4px 10px 4px 10px;
    margin: 3px 3px 3px 0px;
    font-size:85%;
    color: #000;
}
/* only show the tags for the active conversation card */
.SA TR:not(.conversation_active) .conversation_card .SA_tags {
    display: none;
}

/* the regular paragraph spacing is too much for the conversation card */
.SA .conversation_card p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* the regular padding on the list_body is too much for the conversation card */
.SA .conversation_card .list_body {
    padding: 5px;
}

.SA .conversation_card img {
    vertical-align: middle;
}

.SA .usage_dashboard .message_card,
.SA .usage_uniconvos .message_card,
.SA .usage_automated .message_card,
.SA .usage_queued .message_card,
.SA .usage_postfeed .message_card {
    border: 1px solid #cecece;
    border-radius: 15px;
    margin-bottom: 3px;
}

.SA .usage_dashboard .message_card .list_head,
.SA .usage_uniconvos .message_card .list_head,
.SA .usage_automated .message_card .list_head,
.SA .usage_queued .message_card .list_head,
.SA .usage_postfeed .message_card .list_head {
    border: none !important;
}

.SA .usage_dashboard .message_card.folder_sent,
.SA .usage_dashboard .message_card.folder_outbox,
.SA .usage_dashboard .message_card.folder_drafts,
.SA .usage_uniconvos .message_card.folder_sent,
.SA .usage_uniconvos .message_card.folder_outbox,
.SA .usage_uniconvos .message_card.folder_drafts,
.SA .usage_postfeed .message_card.folder_sent,
.SA .usage_postfeed .message_card.folder_outbox,
.SA .usage_postfeed .message_card.folder_drafts {
    margin-left: 50px;
    margin-right: 3px;
    border-color: #83C3F3;
    background-color: #D2E6F5;
}

/* automated page never shows incoming so we can show them all full width */
.SA .usage_automated .message_card.folder_sent,
.SA .usage_automated .message_card.folder_outbox,
.SA .usage_automated .message_card.folder_drafts {
    margin-left: 0px;
    margin-right: 0px;
    border-color: #83C3F3;
    background-color: #D2E6F5;
}

/* these are incoming */
.SA .usage_dashboard .message_card.folder_inbox,
.SA .usage_uniconvos .message_card.folder_inbox,
.SA .usage_automated .message_card.folder_inbox,
.SA .usage_postfeed .message_card.folder_inbox {
    margin-left: 3px;
    margin-right: 50px;
    background-color: #FFFFFF;
}

/* these are not sent yet */
.SA .usage_dashboard .message_card.folder_outbox,
.SA .usage_uniconvos .message_card.folder_outbox,
.SA .usage_automated .message_card.folder_outbox,
.SA .usage_queued .message_card.folder_outbox,
.SA .usage_postfeed .message_card.folder_outbox {
    background-color: #FEEFB3;
}

/* drafts folder is where we put send failures */
.SA .usage_dashboard .message_card.folder_drafts,
.SA .usage_uniconvos .message_card.folder_drafts,
.SA .usage_automated .message_card.folder_drafts,
.SA .usage_queued .message_card.folder_drafts,
.SA .usage_postfeed .message_card.folder_drafts {
    border-color: #B38181;
    background-color: #FFBABA;
}

.SA TABLE.send_message
{
    margin-left: 50px;  /* indent so it aligns with "sent" messages */
}

.SA TABLE.send_message TD:first-child,
.SA TABLE.send_message TD:last-child
{
    /* this will force minimum width */
    width: 1%;
    white-space: nowrap;
}

.SA TABLE.send_message TD:first-child
{
    padding-left: 5px;
}
.SA TABLE.send_message TD:last-child
{
    padding-right: 5px;
}

.SA TABLE.send_message TEXTAREA,
.SA TABLE.send_message INPUT
{
    width: 99.9%;
}